FHIR_SERVER_BASE="base for fhir server behind this proxy"
PORT=8080
UNPROTECTED_RESOURCE_TYPES="comma-separated list of resource types which do not need to be protected by Pauldron service"

# Ordered, comma-separated list of patient identifer systems. 
# The Pauldron Hearth will pick the ID system with the highest-priority in this list.
# If no matching ID system is found the first ID system will be picked. 
# Note that if the Patient resource has no ID an authorization error will be returned.
DESIGNATED_PATIENT_ID_SYSTEMS="ordered, comma-separated list of patient identifer systems to be used for patient lookup in determining scopes."

# Comma-separated list of security labeling systems which Pauldron Hearth should care about, 
# i.e. include in forming scopes/permissions implied by a request. Any labeling system specified here 
# must be explicitly granted in the scopes associated with the access token.  
DESIGNATED_SECURITY_LABEL_SYSTEMS="http://terminology.hl7.org/CodeSystem/v3-Confidentiality"

UMA_SERVER_BASE="UMA server's base URI"
UMA_SERVER_REALM="UMA server's realm –to inform the client"
UMA_SERVER_PERMISSION_REGISTRATION_ENDPOINT="UMA server's permission registration endpoint path"
UMA_SERVER_INTROSPECTION_ENDPOINT="UMA server's introspection endpoint path"
UMA_SERVER_AUTHORIZATION_ENDPOINT="UMA server's authorization endpoint path –to inform the client"
UMA_MODE=true

UMA_SERVER_PROTECTION_API_KEY="UMA server's protection API key"
PROCFILE=pauldron-hearth/Procfile

LOG_LEVEL=debug

ENABLE_LABELING_SERVICE=true
ADD_DEFAULT_CONFIDENTIALITY_LABEL=true
DEFAULT_CONFIDENTIALITY_CODE=M
NO_LABEL_RESOURCE_TYPES=CapabilityStatement,ValueSet
ADD_HIGHT_WATER_MARK=true
AUGMENT_CAPABILITY_STATEMENT=true
